body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Changed to a more elegant font */
    margin: 0;
    padding: 10;
}

.current {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #007bff;
}

/* Seletores individuais e combinados. Os parágrafos têm espaçamento entre linhas */
p {
    line-height: 1.5; /* Space between lines */
}

/* Seletores combinados para cabeçalho e parágrafo */
h1, p {
    color: #333; /* Common text color */
}

/* Selector de classe para texto destacado */
.highlight {
    background-color: yellow; /* Highlight effect */
}

/* Pseudo-classe para links com efeito ao passar o mouse */
a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Pseudo-elemento para a primeira letra do parágrafo */
p::first-letter {
    font-size: 2em; /* Increase the size of the first letter */
    font-weight: bold; /* Make it bold */
}

header {
    background-color: #4CAF50; /* Cor de fundo do cabeçalho */
    padding: 10px 20px; /* Espaçamento interno do cabeçalho */
}

nav ul {
    list-style-type: none; /* Remove estilo de lista padrão */
    margin: 0; /* Remove margem */
    padding: 0; /* Remove padding */
    text-align: center; /* Alinha o conteúdo no centro */
}

nav ul li {
    display: inline-block; /* Permite itens na mesma linha */
    margin-right: 15px; /* Espaçamento entre os itens da lista */
}

nav ul li a {
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: bold; /* Estilo de fonte em negrito */
    padding: 10px; /* Adiciona espaçamento aos links */
    font-size: 16px; /* Tamanho da fonte dos links */
}

table th, table td {
    padding: 10px; /* Adiciona padding de 10px em cada célula da tabela */
}

nav ul li a.current, table th, table td {
    text-decoration: none; /* Remove sublinhado do efeito hover */
}

nav ul li a:hover {
    text-decoration: none; /* Remove sublinhado do efeito hover */
}

/* Indicador de página selecionada e hover */

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.current {
    text-decoration: underline;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px; /* Espaçamento interno do main */
}

h1 {
    color: #333; /* Cor do texto para cabeçalhos de nível 1 */
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
.back-button {
    display: inline-block;
    margin: 10px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}
