body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.current {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #007bff;
}

p {
    line-height: 1.5;
}

h1,
p {
    color: #333;
}

.highlight {
    background-color: yellow;
}

a:hover {
    text-decoration: underline;
}

p::first-letter {
    font-size: 2em;
    font-weight: bold;
}

header {
    background-color: #4CAF50;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
}

table th,
table td {
    padding: 10px;
}

nav ul li a.current,
table th,
table td {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.current {
    text-decoration: underline;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h1 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.back-button {
    display: inline-block;
    margin: 10px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}


#grafico {
    max-width: 600px;
    margin: 20px 0;
}

#kpiChart {
    width: 100%;
    height: 300px;
    display: block;
}


@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }

    table {
        font-size: 12px;
    }

    th,
    td {
        padding: 4px;
    }

    .back-button {
        font-size: 18px;
    }

    #grafico {
        max-width: 90%;
    }

    #kpiChart {
        height: 250px;
    }
}

@media screen and (max-width: 480px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }

    table {
        font-size: 10px;
    }

    th,
    td {
        padding: 2px;
    }

    .back-button {
        font-size: 14px;
    }

    #grafico {
        max-width: 95%;
    }

    #kpiChart {
        height: 200px;
    }
}

table tbody tr:hover {
    background-color: #f2f2f2;
    /* cor de fundo mais clara */
    cursor: pointer;
    /* opcional: muda o cursor para indicar interatividade */
}

/* Estilo do cabeçalho da tabela */
table thead {
    background-color: #74c7da;
    /* cor de fundo do cabeçalho */
    color: white;
    /* cor do texto */
}

table thead th {
    padding: 12px 10px;
    /* aumenta o espaçamento */
    font-size: 16px;
    /* aumenta a fonte, opcional */
    text-align: center;
    /* alinha o texto ao centro */
}